doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Тестовый запуск Webpack'
  body
    p Файл откомпилирован шаблонизатором Pug
    
    include:markdown-it ../content/article.md